.container {
  text-align: center;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 15px;
}
.labelContainer {
  padding-left: 40px;
  font-size: 15px;
  margin-right: auto;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  height: 30px;
  border-radius: 20px;
}
.inner {
  display: flex;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  height: 100%;
  align-items: center;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: 'YES';
  font-size: 13px;
  padding-left: 10px;
  background-color: rgba(51, 170, 51, .7);
  color: #fff;
}
.inner:after {
  content: 'NO';
  font-size: 13px;
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 20px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
